POSTGRES_HOST=postgres_ef686c8a89
POSTGRES_PORT=5432
POSTGRES_DB=development
POSTGRES_USER=test
POSTGRES_PASSWORD=test
# ---
POSTGRES_READ_USER=read_user
POSTGRES_CREATE_USER=create_user
POSTGRES_UPDATE_USER=update_user
POSTGRES_DELETE_USER=delete_user
POSTGRES_CRUD_USER=crud_user
POSTGRES_CREATE_USER_PASSWORD=create_password
POSTGRES_READ_USER_PASSWORD=read_password
POSTGRES_UPDATE_USER_PASSWORD=update_password
POSTGRES_DELETE_USER_PASSWORD=delete_password
POSTGRES_CRUD_USER_PASSWORD=crud_password
